.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.flashes h4 {
    line-height: 2;
}

#recipe-name{
    font-size: 25px;
    color:#ffb74d;
}

#recipe-category{
    font-size: 25px;
    color:#ffb74d;
}

#short-discription{
    font-size: 25px;
    color:#ffb74d;
}

#ingredient{
    font-size: 25px;
    color:#ffb74d;
}

#direction{
   font-size: 25px;
   color:#ffb74d;
}

#prep_time{
   font-size: 25px;
   color:#ffb74d;
}

#cooking-time{
   font-size: 25px;
   color:#ffb74d;
}

#image-url{
   font-size: 25px;
   color:#ffb74d;
}

#categories{
   font-size: 20px;
   color:#ffb74d;
}

#cat{
   color:#b0bec5;
}

.carousel-item
{
  background-size : cover;
  background-position: center;
}

.card {
    width: 30%;
    height: 500px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect*/
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #f1f1f1;
}

.card-img-top{
    height: 280px;
}



.card-image{
    height: 280px; /* Your height here */
    overflow: hidden;
}

.recipe.divider{
    margin-top: 100px;
   
}

.container.search{
    width:500px;
}

.material-icons{
    font-size: 20px;
}
.divider.show.black{
    margin-top: 20px;
    
}

.card.show{
    width:370px;
    height: 200px;
}

.show.header.center-align{
    margin-top: 20px;
}

.show-header.divider{
    margin-top: 80px;
}

.card.blue-grey.darken-1{
    width: fit-content;
}

.card.grey.lighten-1{
    width: fit-content;
}

a.waves-effect.waves-light.btn-large.light-blue darken-4{
    width: 100%;
}

a.waves-effect.waves-light.btn-large.red{
    width: 100%;
}