.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.flashes h4 {
    line-height: 2;
}

#recipe-name{
    font-size: 25px;
    color:#4caf50;
}

#recipe-category{
    font-size: 25px;
    color:#4caf50;
}

#short-discription{
    font-size: 25px;
    color:#4caf50;
}

#ingredient{
    font-size: 25px;
    color:#4caf50;
}

#steps{
   font-size: 25px;
   color:#4caf50;
}

#prep_time{
   font-size: 25px;
   color:#4caf50;
}

#cooking-time{
   font-size: 25px;
   color:#4caf50;
}

#image-url{
   font-size: 25px;
   color:#4caf50;
}

#categories{
   font-size: 20px;
   color:#4caf50;
}

.login {
    color: #4caf50;
}

#cat{
   color:#b0bec5;
}

.carousel-item
{
  background-size : cover;
  background-position: center;
}

@media only screen and (min-width : 320px) { 
a.brand-logo {
    font-size: 20px;
}

h2{
    font-size: 35px;
}

h4{
    font-size: 30px;
}
h3.center-align.green-text {
    font-size: 35px;
}

h3.green-text.text-darken-10.center-align {
    font-size: 30px;
}

} 
@media only screen and (min-width : 375px) {

.divider.one {
    display: none;
}

h2{
    font-size: 45px;
}

h4{
    font-size: 35px;
}

a.brand-logo {
    font-size: 25px;
}

h3.green-text.text-darken-10.center-align {
    font-size: 25px;
}

.col.s12.m6.l3 {
    margin-right: 9px;
    padding-left: 43px;
}

.col.s12.m8.offset-m2 {
    margin-bottom: 200px;
}


}