{% extends "base.html" %}
{% block content %}

<h3 class="center-align">The Cookbook</h3>
<section id="recipe-card">
    <div class="first">
        <div class="row index">
            <div class=" col s4 index">
                <div class="card">
                    <div class="card-image">
                        <a class="recipe-link" href="#">
                            <img src="https://www.simplyrecipes.com/thmb/FIFVqdxIlOkHMM6tmT-sfrofk4I=/600x400/filters:max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2018__03__Firecracker-Chicken-LEAD-HORIZONTAL-81b033c1f3ec4f3cb7aa0643f1d21981.jpg"
                                class="card-img-top" alt="#" />
                        </a>
                    </div>
                    <h5 class="card-title-index center-align">Sheet Pan Sweet and Sour Chicken</h5>
                    <p class="card-content center-align">Inspired by the flavors of our favorite Asian takeout, here's a recipe that
                        uses
                        canned pineapple tidbits, with the usual veggies.</p>
                    <div class="card-action center-align">
                        <a href="{{ url_for('login')}}" class="center-align">View recipe</a>
                    </div>
                </div>
            </div>
            <div class=" col s4 index">
                <div class="card">
                    <div class="card-image">
                        <a class="recipe-link" href="#">
                            <img src="https://www.simplyrecipes.com/thmb/FIFVqdxIlOkHMM6tmT-sfrofk4I=/600x400/filters:max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2018__03__Firecracker-Chicken-LEAD-HORIZONTAL-81b033c1f3ec4f3cb7aa0643f1d21981.jpg"
                                class="card-img-top" alt="#" />
                        </a>
                    </div>
                    <h5 class="card-title-index center-align">Sheet Pan Sweet and Sour Chicken</h5>
                    <p class="card-content center-align">Inspired by the flavors of our favorite Asian takeout, here's a recipe that
                        uses
                        canned pineapple tidbits, with the usual veggies.</p>
                    <div class="card-action center-align">
                        <a href="{{ url_for('login')}}" class="center-align">View recipe</a>
                    </div>
                </div>
            </div>
            <div class=" col s4 index">
                <div class="card">
                    <div class="card-image">
                        <a class="recipe-link" href="#">
                            <img src="https://www.simplyrecipes.com/thmb/FIFVqdxIlOkHMM6tmT-sfrofk4I=/600x400/filters:max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2018__03__Firecracker-Chicken-LEAD-HORIZONTAL-81b033c1f3ec4f3cb7aa0643f1d21981.jpg"
                                class="card-img-top" alt="#" />
                        </a>
                    </div>
                    <h5 class="card-title-index center-align">Sheet Pan Sweet and Sour Chicken</h5>
                    <p class="card-content center-align">Inspired by the flavors of our favorite Asian takeout, here's a recipe that
                        uses
                        canned pineapple tidbits, with the usual veggies.</p>
                    <div class="card-action center-align">
                        <a href="{{ url_for('login')}}" class="center-align">View recipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="divider index"></div>

{% endblock %}